<!-- cardList Light -->
<div class="col-lg-5 bg-light ps-5">
  <h3 class="fw-bold fs-2 mb-4 mt-3 pt-3 pb-2">Latest new articles</h3>
  <div class="overflow-auto" style="height:533px">
    <div class="card mb-3 border-0 bg-light" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body ">
            <p class="card-text position-relative me-1">
              <span class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-light" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body ">
            <p class="card-text position-relative me-1">
              <span class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-light" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body ">
            <p class="card-text position-relative me-1">
              <span class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-light" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body ">
            <p class="card-text position-relative me-1">
              <span class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-light" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body ">
            <p class="card-text position-relative me-1">
              <span class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-light" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body ">
            <p class="card-text position-relative me-1">
              <span class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->

<!-- cardList Dark -->
<div class="col-lg-5 bg-dark text-white ps-5">
  <h3 class="fw-bold fs-2 mb-4 mt-3 pt-3 pb-2">Recommended articles</h3>
  <div class="overflow-auto" style="height:533px;">
    <div class="card mb-3 border-0 bg-dark" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <p class="card-text position-relative me-1">
              <span class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-dark" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <p class="card-text position-relative me-1">
              <span class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-dark" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <p class="card-text position-relative me-1">
              <span class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-dark" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <p class="card-text position-relative me-1">
              <span class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-dark" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <p class="card-text position-relative me-1">
              <span class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 border-0 bg-dark" style="height: 24%">
      <div class="row g-0 h-100">
        <div class="col-3 h-100">
          <img
            src="../assets/images/rectangle4.jpg"
            class="rounded-start img-fluid mt-3"
            alt="..."
            style="width: 108px; height: 66px; object-fit: cover;"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <p class="card-text position-relative me-1">
              <span class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Neque, pellentesque dictum posuere....
              </span>
              <a
                href="#"
                class="btn btn-danger text-white rounded-5 position-absolute end-0"
                >Read more</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->