<div class="row bg-primary my-3 pb-3">
  <div class="col-12 bg-primary px-4 pt-3 text-dark">
    <h3 class="fw-bold fs-2">Professional Advice</h3>
  </div>
  <div class="col-12">
    <!-- Bootstrap Carousel -->
    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card bg-primary text-white mx-auto my-1 border-0">
            <div class="row align-items-center mx-2 justify-content-center">
              <!-- Card Content -->
              <div class="col-lg-3 col-4">
                <div
                  class="position-relative overflow-hidden"
                  style="max-width: 218px; aspect-ratio: 1"
                >
                  <img
                    src="../assets/images/avatar1.svg"
                    class="rounded-circle border-light image-center"
                    alt="Profile Image"
                  />
                </div>
              </div>
              <div class="card-body col-8">
                <div>
                  <h5 class="card-title fw-bold fs-3">HRs Expert Interviews</h5>
                  <p class="card-text fw-semibold fs-4">Thursday Dec 12 2023</p>
                  <p class="card-text fw-semibold fs-4">Nadia S. El-Hawrani</p>
                  <p class="carousel-p card-text fw-medium fs-5">
                    Lorem ipsum dolor sit amet consectetur. Pellentesque
                    faucibus mi feugiat tristique purus penatibus mauris nam
                    libero....
                    <a href="#" class="fw-bold text-white text-decoration-none"
                      >Read more</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-primary text-white mx-auto my-1 border-0">
            <div class="row align-items-center mx-2 justify-content-center">
              <!-- Card Content -->
              <div class="col-lg-3 col-4">
                <div
                  class="position-relative overflow-hidden"
                  style="max-width: 218px; aspect-ratio: 1"
                >
                  <img
                    src="../assets/images/avatar5.svg"
                    class="rounded-circle border-light image-center"
                    alt="Profile Image"
                  />
                </div>
              </div>
              <div class="card-body col-8">
                <div>
                  <h5 class="card-title fw-bold fs-3">HRs Expert Interviews</h5>
                  <p class="card-text fw-semibold fs-4">Thursday Dec 12 2023</p>
                  <p class="card-text fw-semibold fs-4">Nadia S. El-Hawrani</p>
                  <p class="carousel-p card-text fw-medium fs-5">
                    Lorem ipsum dolor sit amet consectetur. Pellentesque
                    faucibus mi feugiat tristique purus penatibus mauris nam
                    libero....
                    <a href="#" class="fw-bold text-white text-decoration-none"
                      >Read more</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-primary text-white mx-auto my-1 border-0">
            <div
              class="row align-items-center gx-5 mx-2 justify-content-center"
            >
              <!-- Card Content -->
              <div class="col-lg-3 col-4">
                <div
                  class="position-relative overflow-hidden"
                  style="max-width: 218px; aspect-ratio: 1"
                >
                  <img
                    src="../assets/images/avatar4.svg"
                    class="rounded-circle border-light image-center"
                    alt="Profile Image"
                  />
                </div>
              </div>
              <div class="card-body col-8">
                <div>
                  <h5 class="card-title fw-bold fs-3">HRs Expert Interviews</h5>
                  <p class="card-text fw-semibold fs-4">Thursday Dec 12 2023</p>
                  <p class="card-text fw-semibold fs-4">Nadia S. El-Hawrani</p>
                  <p class="carousel-p card-text fw-medium fs-5">
                    Lorem ipsum dolor sit amet consectetur. Pellentesque
                    faucibus mi feugiat tristique purus penatibus mauris nam
                    libero....
                    <a href="#" class="fw-bold text-white text-decoration-none"
                      >Read more</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-primary text-white mx-auto my-1 border-0">
            <div
              class="row align-items-center gx-5 mx-2 justify-content-center"
            >
              <!-- Card Content -->
              <div class="col-lg-3 col-4">
                <div
                  class="position-relative overflow-hidden"
                  style="max-width: 218px; aspect-ratio: 1"
                >
                  <img
                    src="../assets/images/avatar3.svg"
                    class="rounded-circle border-light image-center"
                    alt="Profile Image"
                  />
                </div>
              </div>
              <div class="card-body col-8">
                <div>
                  <h5 class="card-title fw-bold fs-3">HRs Expert Interviews</h5>
                  <p class="card-text fw-semibold fs-4">Thursday Dec 12 2023</p>
                  <p class="card-text fw-semibold fs-4">Nadia S. El-Hawrani</p>
                  <p class="carousel-p card-text fw-medium fs-5">
                    Lorem ipsum dolor sit amet consectetur. Pellentesque
                    faucibus mi feugiat tristique purus penatibus mauris nam
                    libero....
                    <a href="#" class="fw-bold text-white text-decoration-none"
                      >Read more</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card bg-primary text-white mx-auto my-1 border-0">
            <div
              class="row align-items-center gx-5 mx-2 justify-content-center"
            >
              <!-- Card Content -->
              <div class="col-lg-3 col-4">
                <div
                  class="position-relative overflow-hidden"
                  style="max-width: 218px; aspect-ratio: 1"
                >
                  <img
                    src="../assets/images/avatar2.svg"
                    class="rounded-circle border-light image-center"
                    alt="Profile Image"
                  />
                </div>
              </div>
              <div class="card-body col-8">
                <div>
                  <h5 class="card-title fw-bold fs-3">HRs Expert Interviews</h5>
                  <p class="card-text fw-semibold fs-4">Thursday Dec 12 2023</p>
                  <p class="card-text fw-semibold fs-4">Nadia S. El-Hawrani</p>
                  <p class="carousel-p card-text fw-medium fs-5">
                    Lorem ipsum dolor sit amet consectetur. Pellentesque
                    faucibus mi feugiat tristique purus penatibus mauris nam
                    libero....
                    <a href="#" class="fw-bold text-white text-decoration-none"
                      >Read more</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Left and right controls/icons with inline styling for custom arrow appearance -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#cardCarousel"
          data-bs-slide="prev"
        >
          <img
            src="../assets/images/prev-arrow-black-circle.svg"
            alt="Previous"
            class="carousel-control-prev-icon"
          />
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#cardCarousel"
          data-bs-slide="next"
        >
          <img
            src="../assets/images/next-arrow-black-circle.svg"
            alt="Next"
            class="carousel-control-next-icon"
          />
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
