<div class="card border-0 bg-primary">
  <div class="row g-0 justify-content-between">
    <div class="col-lg-9 col-8">
      <div class="card-body ps-3">
        <h3 class="card-title fw-bold fs-2 py-3">Professional Advice</h3>
        <p class="text-white fs-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque,
          pellentesque dictum posuere id diam rutrum....
          <a href="#" class="text-white text-decoration-none fw-bold">
            Read more</a
          >
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-4">
      <div class="position-relative overflow-hidden" style="aspect-ratio: 1">
        <img
          src="../assets/images/professional1.jpg"
          alt=""
          class="image-center rounded-circle p-3"
        />
      </div>
    </div>
  </div>
</div>
