<!-- container -->
<div class="row mw-100 col-lg-8 col-11 m-auto justify-content-center mt-5 align-items-center mb-5">
  <!-- event -->
  <article class="bg-white border border-2 border-top-0  border-secondary rounded-4 mw-100 px-2 px-md-3 ps-lg-5 shadow-effect">
    <div class="row justify-content-between pt-5 mb-3 align-items-center mw-100 mx-auto">
      <h3 class="fs-5 fw-bold col-auto">Events Name</h3>
      <span class="col-auto px-3 px-lg-5 bg-primary text-light py-3 text-center border rounded-4">Events Type</span>
    </div>
    <div class="row ps-4">
      <span class="row col-lg-6 col-12 align-items-center mw-100 mb-4">
        <div class="col-auto px-0">
          <img class="img-fluid" src="../assets/images/Calender.svg" alt="Calender icon">
        </div>
        <span class="fw-bold col-auto">May 25 2024 at 1:00 PM</span>
      </span>
      <span class="row col-lg-6 col-12 align-items-center mw-100 mb-4">
        <div class="col-auto px-0">
          <img class="img-fluid" src="../assets/images/place mark.svg" alt="place mark icon">
        </div>
        <span class="fw-bold col-auto" class="fw-bold">Cairo, Egypt</span>
      </span>
    </div>
    <p class="col-lg-9 px-1 fw-bold">Lorem ipsum dolor sit amet consectetur. Lacus eu tortor ut elementum in elementum cras nunc vel. Laoreet blandit leo pulvinar rhoncus ipsum placerat. Metus congue ac a scelerisque tellus urna tincidunt. </p>
    <div class="event-btn d-flex justify-content-center mb-4">
      <a class="d-inline-block bg-dark text-decoration-none text-light border rounded-5 px-5 py-3 flex-grow-1 btn-grow-0 text-center" href="javascript:0;">Learn More</a>
    </div>
  </article>
</div>