<!--user login-->
<div class="container py-5 g-0">
  <div class="row justify-content-center g-0">
    <div class="col-12 text-center g-0">
      <img
        src="../assets/images/big-logo.svg"
        alt="logo"
        class="mb-3 img-fluid"
      />
      <button
        class="nxt-btn btn mb-2 btn-dark text-white rounded-0 py-2 w-100 fw-bold"
      >
        Next Step
      </button>
      <h2 class="text-primary mt-2 fw-bold">Ready to take the next step?</h2>
      <h3>Create an account or Sign in before applying</h3>
      <p>
        By creating an account or signing in, you understand and agree to HRs
        Magazine's
        <a href="#" class="text-decoration-none">Terms</a>. You also acknowledge
        our <a href="#" class="text-decoration-none">Cookie</a> and
        <a href="#" class="text-decoration-none">Privacy policies.</a>
        You will receive marketing messages from HRs Magazine and may opt out at
        any time by following the unsubscribe link in our messages, or as
        detailed in our terms.
      </p>
      <div
        class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 my-3"
      >
        <span>Be sure to include an update</span>
        <a href="#" class="text-decoration-none">Resume</a>
        <span>(PDF, PNG, JPG (5 MB))</span>
      </div>
      <div class="d-flex flex-column align-items-center my-4">
        <span>You can log in or register with</span>
        <button
          type="button"
          class="btn mb-2 bg-dark text-white w-50 px-4 py-2 my-2"
        >
          <img
            src="../assets/images/blue-linkedin.svg"
            class="me-2"
            alt="linked-icon"
          />
          Continue With Linkedin
        </button>
        <h2 class="fs-4 my-4">OR</h2>
        <div class="w-75">
          <label
            for="emailInput"
            class="form-label text-primary w-100"
            style="text-align: left"
            >Email</label
          >
          <input
            type="email"
            id="emailInput"
            class="form-control mb-4"
            placeholder="Your email address"
          />
          <button type="submit" class="btn bg-primary text-white w-50 py-3">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end of user login-->
