<div class="card mx-lg-4 border-dark rounded-4">
  <iframe
    src="https://www.youtube.com/embed/pb5SF20Kd8M?si=auvE_Mpj1VxCsr0H"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    class="card-img-top"
    height="315"
  ></iframe>
  <div class="card-body bg-dark text-white text-start px-3">
    <p class="fw-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque,
      pellentesque dictum posuere id diam rutrum.
    </p>
  </div>
</div>
