<div class="card mx-lg-4 border-dark rounded-4">
  <div
    style="
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
    "
  >
    <iframe
      src="https://www.youtube.com/embed/pb5SF20Kd8M?si=auvE_Mpj1VxCsr0H"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="card-img-top"
      height="453"
    ></iframe>
  </div>
  <div class="card-body bg-dark text-white text-start px-3">
    <p class="fw-semibold">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque,
      pellentesque dictum posuere id diam rutrum.
    </p>
  </div>
</div>